  <div class="mt-3 mb-3 message right">
      <i class="author">
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
  </div>

  <div class="message-container message right">
    <div>
      <%= cl_image_tag message.user.photo.key, class: "avatar" %>
    </div>

    <div class="message-content">
      <p><%= message.content %></p>
    </div>

  </div>

