// Specific CSS for your home-page
// Specific CSS for your home-page
.landing-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 170px 0px 0px 0px;
  text-align: center;
}

.landing-banner h1 {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.landing-banner img {
  opacity: 0.7;
}

.landing-banner h2 {
  color: #EB5C5A;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.text-landing {
  margin-top: 15px;
}

// banner for the form in plants app

.banner-form {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 75px 0;
  text-align: center;
}

.opacity {
  opacity: 0.7;
}
.content {
  min-height: calc(100vh - 100px);
}

.margin-bottom {
    margin-bottom: 40px;
}
