// Specific CSS for your home-page
// Specific CSS for your home-page
.landing-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.landing-banner h1 {
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.landing-banner img {
  opacity: 0.7;
}

.landing-banner h2 {
  color: #EB5C5A;
}

.text-landing {
  margin-top: 15px;
}

// banner for the form in plants app

.banner-form {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 75px 0;
  text-align: center;
}

.opacity {
  opacity: 0.7;
}
.content {
  min-height: calc(100vh - 100px);
}
