body {
  background-color: #FFFFFF;
}

.grey-bg {
  background-color: #F4F4F4;
}

.show-container {
  width: 100%;
  margin: 30px 20px -15px 0px;
}

.dog-profile {
  background-color: white;
  border-radius: 20px;
  margin-right: 20px;
  padding: 20px 40px 55px 20px;
}

.dog-profile-margin-top {
  margin-top: 20px;
}

.side-content-container {
}

.dog-img { max-width:30%; height: auto; border-radius: 10px;}


.dog-profile-text {
  padding: 5px 0px 5px 60px;
  font-size: 14px;
  font-weight: 100;
}

.dog-profile-header {
  padding: 30px 20px 0px 38px;
}

.dog-profile-more-about {
  padding: 19px 20px 0px 58px;
  font-weight: 400;
}



.breed-margin-left {
  margin-left: 45px;
}

.age-margin-right {
  margin-right: 45px;
}

.padding-dog-img {
  padding-left: 40px;
}

.text-red {
  color:#EB5C5A;
}


