.show-container {
  width: 100%;
  margin: 30px 20px -15px 20px;

}

.dog-profile {
  background-color: white;
  border-radius: 20px;
  margin-right: 35px;
  padding: 20px;
}

.side-content-container {
}

img { max-width: 60%; height: auto; }


.dog-profile-text {
  padding: 5px 50px;
}

.dog-profile h1, h2 {
  padding: 25px 40px 0px 40px;
}

.breed-margin-left {
  margin-left: 45px;
}

.age-margin-right {
  margin-right: 45px;
}
