<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h1>This is the My Dog's page</h1>
      <p> Here you will be able to see your dogs and edit their profile</p>
    </div>
  </div>
</div>
