
<div class="banner-form" style="background-image: url(https://images.unsplash.com/photo-1585048847212-1b3f9e44cd13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufD)">
<h3 class="h1-color font-weight-bold col-6 offset-3 form-text mb-3"><i class="fas fa-dog"></i>Let's make some PawPals<i class="fas fa-dog fa-flip-horizontal"></i></h3>
<%= render "form", dog: @dog %>

</div>
