<h1><%= @dog.name %></h1>



<!-- meta tags needs finishing below, check guide on product page -->

<% content_for :meta_title, "#{@dog.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @dog.description %>
<% content_for :meta_image, cl_image_path(@dog.photo.key) %>
