<div class="form-pawpals-create form-text form-style col-6 offset-3 p-5 rounded">
  <%= simple_form_for [dog, booking] do |f| %>
    <%= f.input :date, as: :datetime, required: true, html5: true %>
    <%= f.input :my_dog_id, collection: current_user.dogs %>
    <%= f.button :submit, class: "btn btn-pawpals", id: "create-booking-btn" %>
  <% end %>
</div>
