<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h1>Your bookings</h1>
      <% @my_dogs_bookings.each do |booking| %>
        <%= booking.their_dog.name %>

      <% end %>
    </div>
  </div>
</div>
