<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h1>This is the Bookings Index Page</h1>
      <p> Here you will be able to see the bookings you have made</p>
    </div>
  </div>
</div>
