<div class="banner-form" style="background-image: url(https://images.unsplash.com/photo-1546238232-20216dec9f72?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2807&q=80)">
<h3 class="mt-3 font-weight-bold col-6 offset-3 text-center pt-4 pb-3 h1-color">Create a new booking <i class="fas fa-dog"></i></h3>
<%= render "form", dog: @dog, booking: @booking %>
