<div class="container-fluid">
  <div class="row">
    <div class="col-3 border-right">
  <%= render 'shared/sidebar' %>
    </div>
    <div class="col-9">
      <h1>This is the user profile page where you can see and edit your profile</h1>
    </div>
  </div>
</div>
