<footer class="white-section" id="footer">
    <div class="container-fluid text-center">
      <i class="pr-2 social-icon fab fa-facebook-f"></i>
      <i class="pr-2 social-icon fab fa-twitter"></i>
      <i class="pr-2 social-icon fab fa-instagram"></i>
      <i class="pr-2 social-icon fas fa-envelope"></i>
      <div><p>© PawPals - Copyright 2021 </p></div>
    </div>
</footer>
