<footer class="white-section " id="footer">
    <div class="container-fluid text-center">
      <i class="pr-2 fab fa-facebook-f"></i>
      <i class="pr-2 fab fa-twitter"></i>
      <i class="pr-2 fab fa-instagram"></i>
      <i class="pr-2 fas fa-envelope"></i>
    </div>
</footer>
