<div class="landing-banner" style="background-image:url(<%= asset_path 'landing-image.jpg'%>)">
  <div class="container">
    <h1>PAW PALS <i class="fas fa-paw"></i></h1>
    <h2>Social your dog in a safe way</h2>
    <a class="landing-btn text-decoration-none" href="<%= dogs_path%>">View Dogs</a>
  </div>
</div>


