<div class="landing-banner" style="background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url(<%= asset_path 'landing-image.jpg'%>)">
  <div class="container">
    <h1>PAW PALS <i class="fas fa-paw"></i></h1>
    <h2 class="margin-bottom">Socialise your dog in a safe way</h2>
    <a class="btn-pawpals text-decoration-none" href="<%= dogs_path%>">View Dogs</a>
  </div>
</div>


