#footer {
  background-color: #EB5C5A;
  padding: 20px 0px 5px 0px;
  color: white;
}
.social-icon:hover {
  color: #167ffb ;
}

.social-icon {
  color: white;
  font-size: 18px;
}

#footer p {
  font-size: 12px;

}
