label {
  display: block;
}
input[type=checkbox] {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
}

.form-pawpals-create {
    background: rgba(255, 255, 255, 0.6);
}

.form-pawpals-create label {
  color: black;
}

.h1-color-form {
  color: white;
  text-shadow: 1px 1px 1px rgb(0,0,0);
  font-size: 36px;
}


.form-transition {
  transition: 0.2s;
  height: 430px;
}

.closed-form {
  height: 0px;
  overflow: hidden;
}

