.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px;

  img {
    height: 150px;
    width: auto;
  }
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

