.navbar-color {
  justify-content: space-between;
  background: #EB5C5A;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text-brand {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.nav-links {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
  border-bottom: solid 1px #EB5C5A;
  &:hover {
    color: #cc3633;
    border-bottom: solid 1px #cc3633;
  }
}

.dropdown a {
  color: white;
}
