.navbar-color {
  justify-content: space-between;
  background: #EB5C5A;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-text-brand {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.nav-links {
  color: white;
  font-size: 18px;
}

.dropdown a {
  color: white;
}
