.review-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px #EB5C5A solid;
  margin-left: 50px;
}

.review-container {
  border-radius: 15px;
  overflow: hidden;
  height: 550px;

}

