.sidebar-width {
  width: max-content;
}

.border-right {
  border-right: 1px #EB5C5A solid;
  min-height: 100vh;
}

li a {
  color: black;
  margin-bottom: 30px;
}

.margin-top-sidebar {
  margin-top: 47px;
}

.bg-sidebar {
  background-color: rgba(235,92,90, 0.10)
}

.text-red {
  color: #EB5C5A;
}

.sidebar-links {
  color: #EB5C5A;
  transition: 0.2s;
  text-decoration: none;
  &:hover {
    color: #8f2624;
    text-decoration: none;
  }
}
