.sidebar-width {
  width: max-content;
}

.border-right {
  border-right: 2px black solid;
  min-height: 100vh;
}

li a {
  color: black;
  margin-bottom: 30px;
}

.margin-top-sidebar {
  margin-top: 47px;
}
