<div class="container review-container bg-white">
  <div class="row">
    <div class="col-6 p-0">
      <%= image_tag 'https://images.unsplash.com/photo-1525253086316-d0c936c814f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80', style: "height: 550px; width: 100%; object-fit: cover;" %>
    </div>
    <div class="col-6 p-5 text-center">
        <h3 class="mb-4"> Add Your Review </h3>
        <%= simple_form_for [dog, review] do |f| %>
          <%= f.input :content, required: false, html5: true, label:false %>
          <%= f.button :submit, class: "btn-pawpals text-decoration-none" %>
        <% end %>
      </div>
  </div>
</div>






